<!DOCTYPE html>
<html>
<head>
  <title>Live EEG</title>
  <link rel="stylesheet" href="static/style.css"></link>
  <script src="static/jquery-3.2.1.min.js"></script>
  <script src="static/code.js"></script>
</head>
<body onload="main()">
  <h2> Live EEG: </h2>
  <div id="livegraph"></div>
</body>
</html>
